# Assignment-1

### Q1. Create one variable containing following type of data:

* (i) string
* (ii) list
* (iii) float
* (iv) tuple

In [3]:
string = "string"
list_   = [1,2,3]
float_  =  9.99
tuple_  = (1,2,3)

### Q2. Given are some following variables containing data:
* ((i) var1 = ‘ ‘
* ((ii) var2 = ‘[ DS , ML , Python]’
* ((iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
* ((iv) var4 = 1.

 What will be the data type of the above given variable.

In [9]:
var1 = ' ' 
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

### Q3. Explain the use of the following operators using an example:
* (i) /
* (ii) %
* (iii) //
* (iv) **

In [16]:
# (i) '/ ' operators is use for divison.
result =  25/5
print("Example of '/' operator:- 25/5 = ",result)

# (ii) '%' operator is is called the modulus operator or remainder operator.
remainder= 10%3

print("Example of '%' operator:- 10%3 = ",remainder) 

#(iii)The // operator in Python is used for floor division. It performs integer division, which means it returns the result as an integer by rounding down the quotient to the nearest whole number
results=10//3
print("Example of '//' operator:- 10//3 = " ,results)

# The ** operator in Python is used for exponentiation.

result1=2**3
print("Example of ' ** ' operator is:- 2**3 = ",result1)

Example of '/' operator:- 25/5 =  5.0
Example of '%' operator:- 10%3 =  1
Example of '//' operator:- 10//3 =  3
Example of ' ** ' operator is:- 2**3 =  8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [18]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {'name': 'John'}, None, (4, 5, 6), "Python", False]

for element in my_list:
    print(element ,type(element))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John'} <class 'dict'>
None <class 'NoneType'>
(4, 5, 6) <class 'tuple'>
Python <class 'str'>
False <class 'bool'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [22]:
A = 36
B = 3
count = 0

while A % B == 0:
    A = A // B
    count += 1

print("A is divisible by B", count, "times.")

A is divisible by B 2 times.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [29]:
int_list=[12,25,36,45,69,87,2,3,65,45,5,25,65,47,56,29,38,16,26,287,10,9,8,5,3]

for i in int_list:
    if i%3==0:
        print(f' {i} is divisible by 3')
              
    else:
              print(f' {i} is not divisible by 3')

 12 is divisible by 3
 25 is not divisible by 3
 36 is divisible by 3
 45 is divisible by 3
 69 is divisible by 3
 87 is divisible by 3
 2 is not divisible by 3
 3 is divisible by 3
 65 is not divisible by 3
 45 is divisible by 3
 5 is not divisible by 3
 25 is not divisible by 3
 65 is not divisible by 3
 47 is not divisible by 3
 56 is not divisible by 3
 29 is not divisible by 3
 38 is not divisible by 3
 16 is not divisible by 3
 26 is not divisible by 3
 287 is not divisible by 3
 10 is not divisible by 3
 9 is divisible by 3
 8 is not divisible by 3
 5 is not divisible by 3
 3 is divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

####  Mutable :- Mutable objects can be modified after they are created. Changes made to a mutable object directly affect its content without creating a new object.

#### Immutable :- Immutable objects cannot be modified once they are created. Any operation that appears to modify an immutable object actually creates a new object.

In [31]:
# Example of Mutable data type
my_lis= [1,2,3]
my_lis[2]=4
print(my_lis)

[1, 2, 4]

In [32]:
# Exammple of Immutable
my_tuple=(1,2,3)
my_tuple[2]=4
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

# Thank you